[Unit]
Description=Xiaomi DevAuth Service

[Service]
Type=simple
ExecStart=/usr/bin/xiaomi_devauth
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=sysinit.target

